<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.wandie.olusukuorganic">
  <uses-permission android:name="android.permission.INTERNET" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" tools:node="remove" />
  <uses-permission android:name="android.permission.VIBRATE" tools:node="remove" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove" />
  <uses-permission android:name="android.permission.ACCEPT_HANDOVER" tools:node="remove" />
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" tools:node="remove" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:node="remove" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:node="remove" />
  <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" tools:node="remove" />
  <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" tools:node="remove" />
  <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" tools:node="remove" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"tools:node="remove"  />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" tools:node="remove" />
  <uses-permission android:name="android.permission.BLUETOOTH_SCAN" tools:node="remove" />
  <uses-permission android:name="android.permission.BODY_SENSORS" tools:node="remove" />
  <uses-permission android:name="android.permission.CALL_PHONE" tools:node="remove" />
  <uses-permission android:name="android.permission.CAMERA" tools:node="remove" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" tools:node="remove" />
  <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
  <uses-permission android:name="android.permission.READ_CALENDAR" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_CALL_LOG" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_CONTACTS" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_SMS" tools:node="remove" />
  <uses-permission android:name="android.permission.RECEIVE_MMS" tools:node="remove" />
  <uses-permission android:name="android.permission.RECEIVE_SMS" tools:node="remove" />
  <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" tools:node="remove" />
  <uses-permission android:name="android.permission.SEND_SMS" tools:node="remove" />
  <uses-permission android:name="android.permission.USE_SIP" tools:node="remove" />
  <uses-permission android:name="android.permission.WRITE_CALENDAR" tools:node="remove" />
  <uses-permission android:name="android.permission.WRITE_CALL_LOG" tools:node="remove" />
  <uses-permission android:name="android.permission.WRITE_CONTACTS" tools:node="remove" />
  <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" tools:node="remove" />
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.BROWSABLE"/>
      <data android:scheme="https"/>
    </intent>
  </queries>
  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
    <meta-data android:name="expo.modules.updates.ENABLED" android:value="true"/>
    <meta-data android:name="expo.modules.updates.EXPO_SDK_VERSION" android:value="44.0.0"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH" android:value="ALWAYS"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATE_URL" android:value="https://exp.host/@wandie/olusukuorganic"/>
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDM05_YraUnxhHPEEIWISj97WJ5yN9TxLA"/>
    <activity android:name=".MainActivity" android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" android:theme="@style/Theme.App.SplashScreen" android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="com.wandie.olusukuorganic"/>
      </intent-filter>
    </activity>
    <activity android:name="com.facebook.react.devsupport.DevSettingsActivity"/>
    <uses-library android:name="org.apache.http.legacy" android:required="false"/>
  </application>
</manifest>